extends ../layout

block header
	h2 Edit Document
block content
	p
		a(href='/documents', class='button') &larr; All Documents
	form(method='post', action='/documents' + document.id)
		input(name='document[id]', value=document.id, type='hidden')
		input(name='_method', value='PUT', type='hidden')
		include fields