if locals.notifications
	if locals.notifications.error
		div(class='alert-box error')
			span error:&nbsp;
			=locals.notifications.error
	else if locals.notifications.success
		div(class='alert-box success')
			span success:&nbsp;
			=locals.notifications.success
	else if locals.notifications.warning
		div(class='alert-box warning')
			span warning:&nbsp;
			=locals.notifications.warning
	else if locals.notifications.notice
		div(class='alert-box notice')
			span notice:&nbsp;
			=locals.notifications.notice