if locals.notifications
	div(class='alert-box ' + locals.notifications.type)
		table
			tr
				th=locals.notifications.type
				td
					- if (Array.isArray(locals.notifications.message))
						- for (var key in locals.notifications.message)
							li=locals.notifications.message[key]
					- else
						li=locals.notifications.message